<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout/layout}">

<div layout:fragment="content" class="wrap_containers">
      <main class="container">
        <section class="background">
          <div class="container1">
            <div class="section">
              <div class="container2">
                <div class="container3">
                  <div class="container4">
                    <div class="picture">
                      <img
                        class="slide-digital-1920x1000pxjpg-icon"
                        loading="lazy"
                        alt=""
                        src="/images/slidedigital-1920x1000pxjpg@2x.png"
                      />

                      <div class="gradient"></div>
                      <div class="gradient1"></div>
                    </div>
                    <section class="article">
                      <div class="container5">
                        <h1 class="the-way-to">The way to a smart age</h1>
                      </div>
                      <div class="container6">
                        <div class="industry-40-requires-container">
                          <span class="industry-40-requires-container1">
                            <p class="industry-40-requires">
                              Industry 4.0 requires intelligent solutions for
                              the optimal
                            </p>
                            <p class="industry-40-requires">
                              analysis of sensor data. And VEGA delivers them.
                            </p>
                          </span>
                        </div>
                      </div>
                      <div class="linkmargin">
                        <button class="link">
                          <div class="more-info">More Info</div>
                        </button>
                      </div>
                    </section>
                  </div>
                </div>

                <!-- 롤링: 필요시 사용 -->
                <!--
                <div class="carousel-pagination">
                  <div class="button-carousel-page-1"></div>
                  <div class="button-carousel-page-2-curr"></div>
                  <div class="button-carousel-page-1"></div>
                </div>

                <div class="carousel-navigation">
                  <div class="button">
                    <div class="container7">
                      <h3 class="chevron-left">chevron_left</h3>
                    </div>
                  </div>
                  <div class="button">
                    <div class="container7">
                      <h3 class="chevron-left">chevron_right</h3>
                    </div>
                  </div>
                </div>
                -->
              </div>
            </div>
            <div class="container9">
              <div class="section1">
                <section class="container10">
                  <div class="article1">
                    <div class="heading-1">
                      <h1 class="the-way-to">
                        <p class="industry-40-requires">Levvvvel and pressure</p>
                        <p class="industry-40-requires">
                          instrumentation for the process
                        </p>
                        <p class="industry-40-requires">industry</p>
                      </h1>
                    </div>
                    <div class="container11">
                      <div class="vega-is-a-global-manufacturer-parent">
                        <div class="vega-is-a">
                          VEGA is a global manufacturer of sensors for measuring
                        </div>
                        <div class="vega-details">
                          <div class="strong-link">
                            <div class="level">level</div>
                          </div>
                        </div>
                        <div class="vega-details1">,</div>
                        <div class="vega-details">
                          <div class="strong-link">
                            <div class="point-level">point level</div>
                          </div>
                        </div>
                        <div class="vega-details1">,</div>
                        <div class="vega-details">
                          <div class="strong-link">
                            <div class="pressure">pressure</div>
                          </div>
                        </div>
                        <div class="as">as</div>
                      </div>
                      <div class="container-inner">
                        <div class="well-as-devices-and-parent">
                          <div class="well-as-devices">well as devices and</div>
                          <div class="vega-details">
                            <div class="strong-link">
                              <div class="software">software</div>
                            </div>
                          </div>
                          <div class="for-integrating-them-into-proc-wrapper">
                            <div class="for-integrating-them">
                              for integrating them into process control systems.
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <section class="article2">
                  <div class="container12">
                    <div class="container13">
                      <div class="what-would-you">
                        What would you like to measure?
                      </div>
                    </div>
                    <div class="container14">
                      <div class="options">
                        <div class="expand-moresvg-fill">
                          <img
                            class="expand-moresvg-icon"
                            alt=""
                            src="/images/expand-moresvg.svg"
                          />
                        </div>
                        <div class="container-wrapper">
                          <div class="container15">
                            <div class="choose-application">
                              Choose application
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="options1">
                        <div class="expand-moresvg-fill">
                          <img
                            class="expand-moresvg-icon"
                            alt=""
                            src="/images/expand-moresvg.svg"
                          />
                        </div>
                        <div class="container-wrapper">
                          <div class="container15">
                            <div class="choose-application">Choose medium</div>
                          </div>
                        </div>
                      </div>
                      <div class="link5">
                        <div class="find-a-product">Find a product</div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
              <div class="section2">
                <section class="container-frame">
                  <div class="container17">
                    <div class="article3">
                      <div class="heading-1">
                        <h2 class="solutions-for-a">
                          Solutions for a wide variety of industries
                        </h2>
                      </div>
                      <div class="container18">
                        Every year, more than half a million sensors leave VEGA Grieshaber KG. Each one<br/>
                        provides a reliable solution to a challenging measurement problem somewhere in the<br/>
                        world. High vessels, temperatures or pressure. Every industry places its own specific<br/>
                        requirements on the measurement technology it uses. VEGA’s portfolio includes,<br/>
                        Every year, more than half a million sensors leave VEGA Grieshaber KG. Each one<br/>
                        provides a reliable solution to a challenging measurement problem somewhere in the<br/>
                        world. High vessels, temperatures or pressure. Every industry places its own specific<br/>
                        requirements on the measurement technology it uses. VEGA’s portfolio includes,<br/>

                    </div>
                  </div>
                </section>
                <section class="container19">
                  <div class="rolling-wrapper">
                    <div class="rolling-track" id="rollingTrack">
                      <div class="backgroundshadow">
                        <div class="background1">
                          <img
                            class="industry-chemical-rdax-200x100-icon"
                            alt=""
                            src="/images/industry-chemical-rdax-200x100jpg@2x.png"
                          />

                          <div class="background2">
                            <div class="d-animation">3D Animation</div>
                          </div>
                        </div>
                        <div class="frame-div">
                          <div class="link14">
                            <div class="chemical-industry">
                              <p class="industry-40-requires">Chemical</p>
                              <p class="industry-40-requires">industry</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="backgroundshadow">
                        <div class="background1">
                          <img
                            class="industry-chemical-rdax-200x100-icon"
                            alt=""
                            src="/images/industry-food-rdax-200x100jpg@2x.png"
                          />

                          <div class="background2">
                            <div class="d-animation">3D Animation</div>
                          </div>
                        </div>
                        <div class="link-wrapper1">
                          <div class="link15">
                            <div class="chemical-industry">Food industry</div>
                          </div>
                        </div>
                      </div>
                      <div class="backgroundshadow">
                        <div class="background1">
                          <img
                            class="industry-chemical-rdax-200x100-icon"
                            alt=""
                            src="/images/industry-pharmaceutical-rdax-200x100jpg@2x.png"
                          />

                          <div class="background2">
                            <div class="d-animation">3D Animation</div>
                          </div>
                        </div>
                        <div class="link-wrapper2">
                          <div class="link14">
                            <div class="chemical-industry">
                              <p class="industry-40-requires">Pharmaceutical</p>
                              <p class="industry-40-requires">industry</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="backgroundshadow">
                        <div class="background1">
                          <img
                            class="industry-chemical-rdax-200x100-icon"
                            alt=""
                            src="/images/industry-wastewater-rdax-200x100jpg@2x.png"
                          />

                          <div class="background2">
                            <div class="d-animation">3D Animation</div>
                          </div>
                        </div>
                        <div class="link-wrapper2">
                          <div class="link14">
                            <div class="chemical-industry">
                              <p class="industry-40-requires">Water and</p>
                              <p class="industry-40-requires">wastewater</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="backgroundshadow">
                        <div class="background1">
                          <img
                            class="industry-chemical-rdax-200x100-icon"
                            alt=""
                            src="/images/industry-aquaculture-rdax-200x100jpg@2x.png"
                          />

                          <div class="background2">
                            <div class="d-animation">3D Animation</div>
                          </div>
                        </div>
                        <div class="link-wrapper4">
                          <div class="link15">
                            <div class="chemical-industry">Aquaculture</div>
                          </div>
                        </div>
                      </div>
                      <div class="backgroundshadow">
                        <div class="background1">
                          <img
                                  class="industry-chemical-rdax-200x100-icon"
                                  alt=""
                                  src="/images/industry-aquaculture-rdax-200x100jpg@2x.png"
                          />

                          <div class="background2">
                            <div class="d-animation">3D Animation</div>
                          </div>
                        </div>
                        <div class="link-wrapper4">
                          <div class="link15">
                            <div class="chemical-industry">Aquaculture</div>
                          </div>
                        </div>
                      </div>
                      <div class="backgroundshadow">
                        <div class="background1">
                          <img
                                  class="industry-chemical-rdax-200x100-icon"
                                  alt=""
                                  src="/images/industry-aquaculture-rdax-200x100jpg@2x.png"
                          />

                          <div class="background2">
                            <div class="d-animation">3D Animation</div>
                          </div>
                        </div>
                        <div class="link-wrapper4">
                          <div class="link15">
                            <div class="chemical-industry">Aquaculture</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <div class="container-wrapper1">
                  <div class="container21">
                    <div class="link19">
                      <div class="find-a-product">Case Study</div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 기존 section3 -->
              <!--<div class="section3">
                <section class="container22">
                  <div class="article4">
                    <div class="heading-1">
                      <h1 class="solutions-for-a">
                        <p class="industry-40-requires">
                          Innovative measurement technology
                        </p>
                        <p class="industry-40-requires">from VEGA</p>
                      </h1>
                    </div>
                    <div class="container23">
                      <div class="as-a-sensor-container">
                        <span class="industry-40-requires-container1">
                          <p class="industry-40-requires">
                            As a sensor and measuring instrument manufacturer
                            based in Schiltach in the Black
                          </p>
                          <p class="industry-40-requires">
                            Forest, VEGA has been developing innovative
                            measurement technology for over 65
                          </p>
                        </span>
                      </div>
                      <div class="container-inner1">
                        <div class="years-and-is-already-represent-parent">
                          <div class="years-and-is">
                            years and is already represented in over
                          </div>
                          <div class="link-wrapper5">
                            <div class="strong-link">
                              <div class="strong-80">80 countries</div>
                            </div>
                          </div>
                          <div class="by-subsidiaries-and">
                            by subsidiaries and sales
                          </div>
                        </div>
                      </div>
                      <div class="partners-our-goal-is-to-devel-wrapper">
                        <div class="partners-our-goal-container">
                          <span class="industry-40-requires-container1">
                            <p class="industry-40-requires">
                              partners. Our goal is to develop measurement
                              technology that is easy to use and
                            </p>
                            <p class="industry-40-requires">
                              offers maximum safety and reliability.
                            </p>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <section class="container24">
                  <div class="backgroundshadow5">
                    <img
                      class="container-icon"
                      alt=""
                      src="/images/container@2x.png"
                    />

                    <div class="container25">
                      <div class="heading-3">
                        <div class="the-radar-level">
                          The radar level sensor: THE 6X®
                        </div>
                      </div>
                      <div class="linkmargin1">
                        <div class="link21">
                          <div class="pro-vegapuls-6x">Pro: VEGAPULS 6X</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="backgroundshadow5">
                    <img
                      class="all-landingpage-teaser-vegapul-icon"
                      alt=""
                      src="/images/alllandingpageteaservegapulsc11png@2x.png"
                    />

                    <div class="container26">
                      <div class="heading-31">
                        <div class="compact-level-sensors-container">
                          <span class="industry-40-requires-container1">
                            <p class="industry-40-requires">
                              Compact level sensors | Radar is
                            </p>
                            <p class="industry-40-requires">
                              the better ultrasonic
                            </p>
                          </span>
                        </div>
                      </div>
                      <div class="linkmargin2">
                        <div class="link22">
                          <div class="basic-vegapuls">Basic: VEGAPULS</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>-->
              <div class="section-contact">
                <div class="section-title">
                  <h1>CONTACT</h1>
                </div>
                <div class="wrap_columns">
                  <div class="section-contact-info columns">
                    <p class="txt_contact">먼저, 관심 갖고 찾아주셔서 감사합니다<br>문의사항 남겨주시면, 빠르게 답변 드리겠습니다</p>
                    <p><i class="fa-solid fa-location-dot"></i><span>서울특별시 성동구 연무장 15길 11, <br class="mobile-only"><span class="inner_span">에스팩토리 B동 2층</span></span></p>
                    <p><i class="fa-solid fa-envelope"></i><span><a href="mailto:producer@creativeda.co.kr">admin@creativeda.co.kr</a></span></p>
                    <p><i class="fas fa-phone"></i><span>010-9245-8557</span></p>
                    <!-- <p><i class="fa-solid fa-comment"></i><span><a href="#">카카오톡으로 문의하기</a></span></p> -->
                  </div>
                  <div class="columns contact_form">
                    <form id="contactForm">
                      <input type="text" name="company_name" placeholder="회사명 / 담당자명" required>
                      <input type="tel" name="phone" placeholder="연락처" required>
                      <input type="email" name="email" placeholder="이메일" required>
                      <textarea name="message" placeholder="내용" required></textarea>
                      <div class="btn-more" id="btn_submit"><a href="#">SEND MESSAGE</a></div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
<script>
  const track = document.getElementById('rollingTrack');

// 복제
const clone = track.cloneNode(true);
clone.classList.add('clone-track');
track.parentNode.appendChild(clone);

const wrapper = document.querySelector('.rolling-wrapper');
wrapper.addEventListener('mouseenter', () => {
track.style.animationPlayState = 'paused';
clone.style.animationPlayState = 'paused';
});
wrapper.addEventListener('mouseleave', () => {
track.style.animationPlayState = 'running';
clone.style.animationPlayState = 'running';
});
</script>
    </div>
</html>
