body{
    background-color: #e8e8e8;
    font-family: 'Noto Sans KR', sans-serif, Arial;
}
/* 전체 헤더 */
header {
  width: 100%;
  height:133px;
  font-family: 'Noto Sans KR', sans-serif;
}
/* 공통 컨테이너 - 가운데 정렬, 최대 너비 제한 */
.header_top,
.header_bottom {
   max-width: 1410px;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
   box-sizing: border-box;
}

.header_top{
   background-color: #fff;
}


.header_top{
    padding: 20px var(--padding-64);
}

/* 로고 */
.logo {
  height: 35px;
  object-fit: contain;
}

/* 상단 메뉴 */
.list_nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 40px;
}

.list_nav a.nav-link {
  text-decoration: none;
  color: #222;
  font-weight: 500;
  font-size: 20px;

}

.list_nav a.nav-link:hover {
  color: #0072ff;
}

/* 하단 메뉴 (예: 전화번호, 로그인 등) */
.header_bottom {
  background-color: #21293c;
  color: white;
  font-size: 15px;
  display: flex;
  justify-content: flex-end;
  padding: 10px var(--padding-64);
}

.header_bottom ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin: 0;
  padding: 8px 0;
}

.header_bottom a.nav-link {
  color: white;
  text-decoration: none;
}

.header_bottom a.nav-link:hover {
  text-decoration: underline;
}


/* footer*/
footer .container{
    background-color:#fff;
    max-width: 1410px;
    padding: 50px var(--padding-64);
    box-sizing: border-box;
    font-size:16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* ← 추가: 좌우 끝으로 배치 */
    border-top: 1px solid #21293c;
}
footer .list_footer{
    width:900px;
}
footer .list_footer ul{
    display: flex;
    flex-direction: row;
    gap:5px;
    flex-wrap: wrap;
}
footer .list_footer li{
    color:var(--color-text);
    white-space: normal;   /* ✅ 텍스트 줄바꿈 허용 */
    word-break: break-word; /* ✅ 긴 단어도 줄바꿈 */
    flex: 0 0 auto;
    font-size:12px;
    padding-right:10px;
}
footer p{margin-top:30px;font-size:12px;}

.admin-link{position:absolute;bottom:10px;color:#e9e9e9;}

