<footer th:fragment="footerFragment">
    <div class="container">
        <a class="footer-brand" href="/">
            <img
                class="logo"
                alt="토탈레벨 코리아"
                src="/images/logo.jpg"
            />
        </a>
        <div class="list_footer">
            <ul>
                <li>주소 : 서울특별시 구로구 경인로53길 32 (구로동) 412호</li>
                <li>대표이사 : 박형빈</li>
                <li>사업자등록번호 : 510-08-65428</li>
                <li>Tel : 010-2333-6575</li>
                <li>Fax : 070-7574-7574</li>
                <li>E-mail : tlk0218@totallevelkorea.co.kr</li>
            </ul>
            <p>© 2025 Total Level Korea Co., Ltd. All Rights Reserved.</p>
            <a class="admin-link" href="/admin/login">ADMIN</a>
        </div>
    </div>
</footer>