<footer th:fragment="footerFragment">
    <div class="container">
        <a class="footer-brand" href="/">
<!--            <img-->
<!--                class="logo"-->
<!--                alt="토탈레벨 코리아"-->
<!--                src="/images/logo.jpg"-->
<!--            />-->
        </a>
        <div class="list_footer">
            <ul>
                <li>본사 : 경기 화성시 남양읍 주석로341 2층</li>
                <li>대표이사 : 김선희</li>
                <li>Tel : 1800-7574</li>
                <li>Fax : 070-7574-7574</li>
                <li>E-mail : js@highper.co.kr</li>
                <li>사업자등록번호 : 895-81-02929</li>
            </ul>
            <p>COPYRIGHT(C) .CO.,LTD. All RIGHTS RESERVED.</p>
            <p><a class="nav-link" href="admin/login">ADMIN</a></p>
        </div>
    </div>
</footer>