<nav th:fragment="navbarFragment">
    <header>
        <div class="header_top">
                <a class="navbar-brand" href="/"><img
                        class="logo"
                        alt="토탈레벨 코리아"
                        src="/images/logo.jpg"
                /></a>
                <div class="list_nav">
                    <ul>
                        <li><a class="nav-link" href="/product">Product</a></li>
                        <li><a class="nav-link" href="/case">Case Study</a></li>
                        <li><a class="nav-link" href="/download">Download</a></li>
                        <li><a class="nav-link" href="/support">Support</a></li>
                    </ul>
                </div>
        </div>
        <div class="header_bottom">
            <ul>
                <li>1800-7574</li>
                <li><a class="nav-link" href="/Contact">Contact</a></li>
            </ul>
        </div>
    </header>


    <!-- 추후 로그인 만들때 참고-->
    <!--<div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/user/login}" sec:authorize="isAnonymous()">로그인</a>
                <a class="nav-link" th:href="@{/user/logout}" sec:authorize="isAuthenticated()">로그아웃</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/user/singup}">회원가입</a>
            </li>
        </ul>
    </div>-->
</nav>